.visitante-form-container {
    max-width: 60%;
    margin: 15em auto;
    padding: 5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }

  .container-btn {
    display: flex;
    gap: 0.5em;
  }
  
  .cadastrar-visitante,
  .button-comeback {
    color: #fff;
    width: 18%;
    border: none;
    border-radius: 5px;
  }

  .cadastrar-visitante {
    padding: 10px 20px;
    background-color: #45a049;
    transition: all 450ms ease-in-out;
  }
  
  .button-comeback {
    padding: 10px 20px;
    background-color: #9fa19f;
    transition: all 450ms ease-in-out;
  }
  
  .cadastrar-visitante:hover {
    background-color: #4CAF50;
    transition: all 450ms ease-in-out;
  }

  .button-comeback:hover {
    background-color: #4f5a4f;
    transition: all 450ms ease-in-out;
  }
  
  .alert-cadastrado {
    color: #45a049;
  }

/* Estilo de Tabela de Visitantes */

.visitante-mural-container {
  margin: 6em auto;
  text-align: center;
}

.table-container {
  padding: 60px 1px 1px 1px;
  margin: 6em auto;
  background-color: #f1eeee;
  width: 90%;
  border-radius: 8px;
}

.visitante-table {
  margin: 6em auto;
  width: 90%;
  border-collapse: collapse;
  background-color: #ddd;
}

.visitante-table th,
.visitante-table td {
  border: 1px solid #ddd;
  padding: 1em;
  text-align: left;
}

.visitante-table th {
  background-color: #f2f2f2;
}

.visitante-table td button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.visitante-table td button:hover {
  background-color: #c82333;
}

.button-cadastrar-visitante {
  background-color: #b6b4b4;
  color: #ffffff;
  font-weight: 700;
  border: none;
  box-shadow: 0px 2px 5px #00000063;
  width: 90%;
  border-radius: 5px;
  padding: 9px;
  margin-bottom: 2em;
  transition: all 450ms;
}

.button-cadastrar-visitante:hover {
  background-color: #8b8989;
  transition: all 450ms;
}