.conteudo-visitantes {
  max-width: 85%;
  width: 80%;
  margin: 17em auto;
  border-radius: 5px;
  padding: 0.5em;
  background-color: #ddd8d8;
  box-shadow: 0 0 9px 0px rgb(252, 249, 249);
}

.visitante-form-container {
    max-width: 60%;
    margin: 15em auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  button {
    padding: 10px 20px;
    background-color: #45a049;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4CAF50;
  }
  
  .alert-cadastrado {
    color: #45a049;
  }

/* Mural de Visitantes */

.visitante-mural-container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 8em;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.visitante-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.visitante-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;

  /* Adicionar a animação de fade in */
  animation-name: fadeIn;
  animation-duration: 1s;
}

/* Efeito hover para escala e sombra */
.visitante-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Definir a animação de fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  