<main class="conteudo-visitantes">
  <section>
      <div class="visitante-form-container">
        <h2>Cadastrar Visitante</h2>
        <form [formGroup]="formularioVisitante" (ngSubmit)="CadastrarVisitante()">
          <div class="form-group">
            <label for="nomeVisitante">Nome do Visitante</label>
            <input
              type="text"
              id="nomeVisitante"
              name="nomeVisitante"
              formControlName="nomeVisitante"
              required
            />
          </div>
          <div class="form-group">
            <label for="dataHoraSaida">Data e Hora de Saída</label>
            <input
              type="datetime-local"
              id="dataHoraSaida"
              name="dataHoraSaida"
              formControlName="dataHoraSaida"
              required
            />
          </div>
          <button type="submit">Cadastrar</button>
          <br>
          <span *ngIf="visitanteCadastrado" class="alert-cadastrado">
              <strong>Visitante cadastrado com sucesso!</strong>
          </span>
        </form>
      </div>
  </section>

  <section class="visitantes-do-morador">
    <h1>Seus visitantes</h1>
    <div class="visitante-mural-container">
        <div class="visitante-list">
            <div *ngFor="let visitante of visitantesDoMorador" class="visitante-card">
            <h2>Visitante N° de identificação: {{ visitante.id }}</h2>
            <h3>{{ visitante.nomeVisitante | titlecase }}</h3>
            <p>Data e Hora de Saída: {{ visitante.dataHoraSaida }}</p>
            <button class="deletar-visitante" (click)="apagarVisitante(visitante.id)">Deletar visitante</button>
          </div>
        </div>
      </div>
</section>

</main>