.card {
    width: 300px;
    border: 10px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30em;
    margin-right: 6em;
    font-weight: 400;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-content {
    padding: 10px;
  }
  
  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
  }
  