<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="../../../assets/img/img-20230629-wa0019_480-removebg-preview.png" alt="Logo da Empresa">
    </div>
    <div class="footer-info">
      <h4>Contato</h4>
      <p>Fazenda Grande IV, Salvador, Bahia, 41526673</p>
      <p>Telefone: (75) 9902-0345</p>
      <p>E-mail: homeplanner@ufn.edu.com</p>
    </div>
    <div class="footer-links">
      <h4>Links úteis</h4>
      <ul>
        <li><a href="#">Página Inicial</a></li>
        <li><a href="#">Sobre Nós</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <h4>Redes Sociais</h4>
      <ul>
        <li> <a href="#" class="social-icon">Instagram</a> </li>
        <li> <a href="#" class="social-icon">GitHub</a></li>
        <li><a href="#" class="social-icon">Email</a></li>
        <li><a href="#" class="social-icon">Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>