.profile-container {
    max-width: 400px;
    min-height: 80vh;
    margin: 18em auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .avatar-container {
    margin-bottom: 20px;
  }
  
  .avatar-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #007bff;
    color: #ffffff;
    font-size: 48px;
    line-height: 100px;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .profile-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
  
  button {
    margin-top: 1em;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button {
    background-color: #d41d30;
  }
  
  button:hover {
    background-color: #9c1919;
  }
  
  /* Formulário de edição */

  .profile-edit-form {
    margin-top: 30px;
  }
  
  .profile-edit-form h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    color: #aa9f9f;
    border-radius: 5px;
    text-align: center;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  