<header>
    <div>
      <img class="logo-da-pagina" src="../../../assets/img/logo-predio.png" alt="lista-de-tarefas">
    </div>
    <nav>
      <ul class="navbar-menu">
        <li><a routerLink="/">Início</a></li>
        <li><a routerLink="/contas">Contas Pendentes</a></li>
        <li><a routerLink="/areas-comuns">Áreas Comuns</a></li>
        <li><a routerLink="/ocorrencias">Ocorrências</a></li>
        <li><a routerLink="/avisos">Avisos</a></li>
        <li><a routerLink="/visitantes">Cadastrar Visitantes</a></li>
      </ul>
    </nav>
    <div class="login-buttons">
      <a class="login-button" routerLink="/login">Login</a>
      <a class="register-button" routerLink="/cadastrar">Cadastrar</a>
    </div>
</header>