header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000000dc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo{
  display: flex;
  align-items: center;
  margin: 0 0 0 3em;
}

.logo-da-pagina {
  max-width: 15vh;
  cursor: pointer;
}

.login-buttons {
  display: flex;
  align-items: center;
}

.login-button,
.register-button {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bolder;
  color: #ffffff;
  background-color: #a55e3e;
  transition: background-color 0.3s ease;
}

.login-button:hover,
.register-button:hover {
  background-color: #6b3217;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .page-title {
    display: none;
  }
}
