/* Google Font import (Dancing Script) */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* Header Styles */

.header-fixed {
  background-color: #000000;
  box-shadow: 0 1px 1px #00000050;
  padding: 20px 46px;
  color: #ffffff;
  box-sizing: border-box;
}

.header-fixed .header-limiter {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.header-fixed .header-limiter h1 {
  float: left;
  font-family: 'Dancing Script', cursive;
  line-height: 40px;
  margin: 0;
}

.header-fixed .header-limiter h1 span {
  color: #a55e3e;
  font-weight: bolder;
}

/* The navigation links and user profile */

.header-fixed .header-limiter a {
  color: #ffffff;
  text-decoration: none;
}

.header-fixed .header-limiter nav {
  font: 16px Arial, Helvetica, sans-serif;
  display: flex;
  gap: 0.4em;
  line-height: 40px;
}

.header-fixed .header-limiter nav a {
  display: inline-block;
  padding: 3px 5px;
  text-decoration: none;
  opacity: 0.9;
  cursor: pointer;
  position: relative;
  font-weight: bolder;
}

.header-fixed .header-limiter nav a:before {
  content: "";
  left: 0;
  width: 0;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
  transition: 500ms ease-in-out;
}

.header-fixed .header-limiter nav a:hover:before {
  opacity: 1;
  transition: 500ms ease-in-out;
}

.header-fixed .header-limiter nav a {
  position: relative;
  transition: 500ms ease-in-out;
}

.header-fixed .header-limiter nav a:hover {
  z-index: 1;
  transition: 500ms ease-in-out;
  background-color: #a55e3e;
  border-radius: 3px;
}

/* Section User */

.section-user {
  display: flex;
  justify-content: center;
  background-color: #f8f7f7bd;
  padding: 1em;
  width: 100%;
}

.user-profile {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1.5em;
}

.user-initial {
  background-color: #a55e3e;
  color: #ffffff;
  border-radius: 6%;
  cursor: pointer;
  padding: 1em;
  font-size: 24px;
  transition: all 450ms ease-in-out;
}

.user-initial:hover {
	background-color: #744936;
	transition: all 450ms ease-in-out;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.user-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.user-apartment {
  font-size: 14px;
  color: #666;
}