<div *ngIf="!cadastrarOcorrencia" class="ocorrencias-principais">
<section class="mural-morador-ocorrencia" *ngIf="ocorrenciasExistem">
    <div class="container-mural">
      <h4 style="color: #131212;">Minhas Ocorrências</h4>
      <table class="ocorrencias-table">
        <thead>
          <tr>
            <th>ID N°</th>
          <th>Hora do Registro</th>
          <th>Descrição</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ocorrencia of ocorrenciasDoMorador">
          <td>{{ ocorrencia.id }}</td>
          <td>{{ ocorrencia.dataHoraRegistro | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ ocorrencia.descricao }}</td>
          <td><button class="deletar-ocorrencia" (click)="deletarOcorrencia(ocorrencia.id)">Deletar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="mural-ocorrencia">
  <div class="container-mural">
    <h4 style="color: #131212;">Mural de Ocorrências</h4>
    <table class="ocorrencias-table">
      <thead>
        <tr>
          <th>ID N°</th>
          <th>Hora do Registro</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ocorrencia of ocorrenciasRegistradas">
          <td>{{ ocorrencia.id }}</td>
          <td>{{ ocorrencia.dataHoraRegistro | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ ocorrencia.descricao }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="mudarParaCadastroOcorrencias()" class="link-cadastro">Cadastrar Ocorrências</button>
  </div>
</section>
</div>

<div *ngIf="cadastrarOcorrencia" class="form-container">
  <h2>Cadastrar Ocorrência</h2>
  <form [formGroup]="formularioOcorrencia" (ngSubmit)="EnviarFormularioOcorrencia()">
    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <textarea formControlName="descricao" id="descricao" rows="4"></textarea>
    </div>
    <div class="form-group">
      <button class="btn-cadastro-ocorrencias" type="submit">Cadastrar Ocorrência</button>
      <button (click)="mudarParaViewOcorrencias()" class="btn-return"> Voltar para visualização </button>
    </div>
  </form>
</div>
