/* Estilos gerais da tabela */

.mural-morador-ocorrencia,
.mural-ocorrencia {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.container-mural {
  background-color: #f7f7f7;
  padding: 45px;
  width: 65%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h4 {
  color: #141212;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 20px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Estilos para a primeira tabela */

.mural-morador-ocorrencia h2 {
  color: #fff;
}

.mural-morador-ocorrencia .deletar-ocorrencia {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.mural-morador-ocorrencia .deletar-ocorrencia:hover {
  background-color: #e60000;
}

.link-cadastro {
  border: none;
  background-color: #e1e1e1;
  box-shadow: 1px 1px 5px 0px #0000004f;
  color: #000000cc;
  font-weight: 500;
  padding: 0.5em;
  margin-top: 2.5em;
  width: 100%;
}

/* Estilos para a segunda tabela */

.mural-ocorrencia h2 {
  color: #fff;
}

.mural-morador-ocorrencia td:last-child {
  text-align: center;
}

/* Estilo de formulario de cadastro */

.form-container {
  width: 90%;
  margin: 10em auto;
  padding: 80px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

textarea {
  width: 100%;
  resize: vertical;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.btn-cadastro-ocorrencias,
.btn-return {
  font-weight: bolder;
  width: 100%;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.btn-cadastro-ocorrencias {
  color: #ffffff;
  background-color: #209e0f;
}

.btn-return {
  background-color: #e1e1e1;
  box-shadow: 1px 1px 5px 0px #0000004f;
  color: #0c0b0bcc;
  margin-top: 1em;
}