.conteudo-ocorrencias {
  max-width: 85%;
  width: 80%;
  margin: 17em auto;
  border-radius: 5px;
  padding: 0.5em;
  background-color: #ddd8d8;
}

.container-ocorrencia {
    margin: 20em auto;
}

.ocorrencia-form {
    max-width: 60%;
    margin: 0 auto;
    padding: 4em;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .ocorrencia-form h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .ocorrencia-finalizada-alert {
    display: block;
    text-align: center;
    color: #3dad43;
    font-weight: bold;
    margin: 20px 19px;
    padding: 1em;
    border: 1px solid #3dad43;
    color: #fff;
    border-radius: 5px;
    background-color: #3dad43;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .check-icon {
    color: #3dad43;
    font-size: 18px;
    margin-right: 4em;
  }
  
  
  .btn-submit {
    background-color: #45a049;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-submit:hover {
    background-color: #3dad43;
    transform: scale(1.05);
  }  
  
/* Mural de Ocorrências */

.container-mural {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 15em;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.ocorrencia-header {
  margin-bottom: 1em;
}

.ocorrencia-descricao {
  background-color: #f8f1f1;
  padding: 0.9em;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.1);;
}

.ocorrencias {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.ocorrencia {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Mural de Ocorrências do Morador */

.mural-morador-ocorrencia {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 15em;
}

.mural-morador-ocorrencia h2 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.mural-morador-ocorrencia .ocorrencias {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.mural-morador-ocorrencia .ocorrencia {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.deletar-ocorrencia {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ec0303;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 2em;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.deletar-ocorrencia:hover {
  background-color: #a11f1f; 
}

/* Estilo ao clicar no botão */
.deletar-ocorrencia:active {
  background-color: #470f0f; 
}