
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-form {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 57%;
    max-width: 60%;
  }
  
  .signup-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-button {
    padding: 12px 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .caixa-validacao {
    margin-top: 3em;
  }

  .caixa-validacao ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
  }
  
  .signup-button:hover {
    background-color: #45a049;
  }
  
  .login-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .login-link p {
    margin-bottom: 0;
  }
  
  .login-link a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .login-link a:hover {
    color: #45a049;
  }  