.conteudo-reservas {
  max-width: 85%;
  width: 80%;
  margin: 20em auto;
  border-radius: 5px;
  padding: 0.5em;
  background-color: #ddd8d8;
  box-shadow: 0 0 9px 0px rgb(252, 249, 249);
}

.container {
  max-width: 85%;
  width: 50%;
  margin: 9em auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.success-box,
.error-box {
  display: flex;
  align-items: center;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.success-box i,
.error-box i {
  font-size: 24px;
  margin-right: 10px;
}

.error-box {
  background-color: #f2dede;
  color: #a94442;
}

/* Section Get Reservas */

.section-reservas {
  padding: 20px;
  margin-bottom: 5em;
}

.reservas-mural {
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: auto;
  width: 80%;
}

.reserva {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.reserva:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reserva-info {
  padding: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}

.espaco-comum {
  font-weight: 500;
}

.data-reserva {
  font-weight: 500;
}

p {
  margin: 0;
  color: #666;
}

/* Mural shine effect */
.reservas-mural::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.3);
  pointer-events: none;
  z-index: -1;
  border-radius: 10px;
}


