
  <section *ngIf="registrarNovoAviso" class="conteudo-avisos-form">
    <form class="avisos-form" [formGroup]="formularioAviso" (submit)="criarAviso()">
      <h1 style="color: #000; text-align: center;">Cadastrar Avisos</h1>
      <div class="form-group">
        <label for="titulo">Titulo do Aviso:</label>
        <input
        id="titulo" 
        class="form-control" 
        name="titulo"
        placeholder="Coloque o titulo do aviso..."
        formControlName="titulo" 
        required>
      </div>
  
      <div class="form-group">
        <label for="mensagem">Mensagem do Aviso:</label>
        <input
        id="mensagem" 
        class="form-control" 
        name="mensagem"
        placeholder="Coloque o mensagem do aviso..."
        formControlName="mensagem" 
        required>
      </div>
      <button class="btn-voltar" (click)="voltarParaViewAviso()"><i class="fa-solid fa-backward"></i></button>
      <button class="btn-submit" type="submit">Criar aviso</button>
    </form>
  </section>

  <section *ngIf="!registrarNovoAviso" class="tabela-avisos">
    <div class="aviso-mural-container">
      <h1>Lista de Avisos</h1>
      <table *ngIf="avisos.length > 0">
        <thead>
          <tr>
            <th>Título</th>
            <th>Mensagem</th>
            <th>Data de Publicação</th>
            <th>Apagar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aviso of avisos" class="aviso-card">
            <td>{{ aviso.titulo }}</td>
            <td>{{ aviso.mensagem }}</td>
            <td>{{ aviso.dataPublicacao | date:'medium' }}</td>
            <td *ngIf="isAdm"><button *ngIf="aviso.id" (click)="apagarAviso(aviso)">Apagar</button></td>
          </tr>
        </tbody>
      </table>
      <button *ngIf="isAdm" (click)="mudarParaRegistroAviso()" class="registro-aviso">Registrar novo aviso</button>
    </div>
  </section>   

