

<section class="section-body-titulo">
  <div class="container-titulo">
    <h3>Home</h3>
    <h1>Tasker Planner</h1>
    <app-home-button>
      Explore Now
    </app-home-button>
  </div>
  
    <section class="section-user-logado" *ngIf="usuarioLogado">
        <div class="container-cardhome">
          <!-- Avisos -->
          <div class="avisos-container">
            <div *ngIf="avisosGeral.length > 0" class="mural-avisos">
              <h2>Avisos:</h2>
              <div *ngFor="let aviso of avisosGeral" class="aviso-item">
                <!-- Exibir conteúdo do aviso aqui -->
                <div><strong>Título:</strong> {{ aviso.titulo }}</div>
                <div><strong>Mensagem:</strong> {{ aviso.mensagem }}</div>
                <hr>
              </div>
            </div>
          </div>
      
          <!-- Linha que separa as áreas -->
          <div class="linha-vertical"></div>
      
          <!-- Contas -->
          <div class="contas-container">
            <div *ngIf="contasMorador.length > 0" class="mural-avisos">
              <h2>Contas:</h2>
              <div *ngFor="let conta of contasMorador" class="aviso-item">
                <!-- Exibir informações da conta aqui -->
                <div><strong>ID da Conta:</strong> {{ conta.id }}</div>
                <div><strong>Data de Vencimento:</strong> {{ conta.dataVencimento | date }}</div>
                <div><strong>Valor:</strong> {{ conta.valor }}</div>
                <hr>
              </div>
            </div>
          </div>
      
        </div>
      </section>

      <section class="card-section">
        <app-card
        imageUrl="../../../assets/img/imagem-card-1.jpg"
        [title]="'Condomínio dos Sonhos'"
        [description]="'Um luxuoso condomínio com uma infraestrutura completa, piscinas, quadras, academia e muito mais. Aqui você encontra o conforto e a segurança que merece.'"
      ></app-card>
    
      <app-card
        imageUrl="../../../assets/img/imagem-card-2.jpg"
        [title]="'Condomínio Verde Vida'"
        [description]="'Um condomínio sustentável, cercado por áreas verdes e com foco na preservação do meio ambiente. Aqui você pode viver em harmonia com a natureza.'"
      ></app-card>
    
      <app-card
        imageUrl="../../../assets/img/imagem-card-3.jpg"
        [title]="'Condomínio Família Feliz'"
        [description]="'Um lugar perfeito para criar sua família, com playgrounds, espaços de convivência e eventos especiais para as crianças. Aqui você encontra diversão para toda a família.'"
      ></app-card>
    
      <app-card
        imageUrl="../../../assets/img/imagem-card-4.jpg"
        [title]="'Condomínio Moderna Ville'"
        [description]="'Um condomínio com arquitetura moderna e infraestrutura de última geração. Aqui você desfruta do que há de mais atual em tecnologia e comodidades.'"
      ></app-card>
      </section>

      
      